<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding id="renderer">
  <canvas id="graph-container" style="z-index:2"></canvas>
</ion-content>
